input.form-control {
    width: 700px;
}

.search-box {
    padding: 30px;
    display: flex;
}

button.btn.btn-primary {
    width: 10%;
    position: absolute;
    top: 85px;
    right: 200px;
}
input.form-control.Range {
    width: 25%;
    margin: 0 11px;
}